<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <style>
        .inline{
            display: inline-block;
        
        }
    </style>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.5.0/dist/socket.io.min.js"></script> -->
    <script defer >
const DASHBOARD = io('ws://localhost:3000/',{
extraHeaders: {
    "client_type":'2'
}})

DASHBOARD.on('cli_not_ready', ()=>{
    document.getElementById('client_status').style.color='red'
    document.getElementById('client_status').innerText="Client Not Yet Started"
    document.getElementById('server_status').style.color='green'
    document.getElementById('server_status').innerText="Operational"
})

DASHBOARD.on('operational', ()=>{
    document.getElementById('client_status').style.color='green'
    document.getElementById('client_status').innerText="Operational"
    document.getElementById('server_status').style.color='green'
    document.getElementById('server_status').innerText="Operational"
})

DASHBOARD.on("cli_disconnected",()=>{
    document.getElementById('client_status').style.color='red'
    document.getElementById('client_status').innerText="Client Disconnected"
})

DASHBOARD.on("disconnect", (reason) => {
    document.getElementById('server_status').style.color='red'
    document.getElementById('server_status').innerText="Server Disconnected"
    document.getElementById('client_status').style.color='red'
    document.getElementById('client_status').innerText="Client Disconnected"
});

    </script>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a id="dashboard-Text" class="navbar-brand">Dashboard</a>
            <span class="navbar-text">
                IOT Client Status <div class="inline" id="client_status">UNAVAILABLE</div>
              </span>
              <span class="navbar-text">
                Server Status <div class="inline" id="server_status">UNAVAILABLE</div>
              </span>
          </div>
      </nav>
</body>
</html>